.flex-container
  - @game.words_after_guesses.each do |word|
    .word
      - word.each do |letter|
        = render "letter", letter: letter, game: @game

.flex-container.pb-10
  = render "form", game: @game
